/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

/*.container{
    margin:auto;
    background-color: violet;
    align-content: space-around;
    max-width: 1200px;


   
}
.recept1 {
    background-image: url(images/burger.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 200px;
    border: 2px solid white;
   
}

.recept2 {
    background-image: url(images/sushi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90px;
    border: 2px solid white;
}

.recept3 {
    background-image: url(images/rajcata.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90px;
    border: 2px solid white;
}
.recept4 {
    background-image: url(images/kure.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90px;
    border: 2px solid white;
}
.recept5 {
    background-image: url(images/grilovani.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90px;
    border: 2px solid white;
}

.nazev1{
    font-size:1.75rem;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    color: white;
    position: absolute;
    top:  150px;
    padding-left: 0.5rem;
  
}

.komentare1{
    position: relative;
    top: -25px;
    text-align: right;
    padding-right: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
    
    
}
.menu1{
    position: relative;
    top: -10px;
    
    padding-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
    
}

.nazev{
    font-size: 1.2rem;
    font-weight: 800;
    font-family: 'Raleway', sans-serify;
    color: white;
    position: relative;
    top: 50px;
    padding-left: 0.5rem;


}

.komentare{
    position: relative;
    top: -5px;
    text-align: right;
    padding-right: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
   
    
}
.menu{
    position: relative;
    top: -25px;
    
    padding-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
   
}    





/*tablet*/
/*@media (min-width: 480px) {
 
    .container{
        flex-wrap: wrap;
        display: flex;
       }
        .recept1  {
            min-height: 250px ;
            width: 100%;
        }
        .recept23  {
            min-height: 150px;
            width: 50%;
   
        } 
        .recept45  {
           min-height: 150px;
           width: 50%;
   
}
.nazev1{
    font-size: 2rem;

}
.nazev{
    font-size: 1.5rem;
    padding-left: 1.25rem;
}
.menu{
    padding-left: 1.25rem;
}
.komentare{
    padding-right:1.25rem ;
}
.menu1{
    padding-right:1.25rem ;
}
.komentare1{
    padding-right:1.25rem ;
}
}

/*PC*/
/*@media (min-width: 860px) {
 

    .container{
        display: flex;
        flex-wrap: nowrap;
    }

    .nazev1{
        font-size: 3rem;

   }
    .nazev{
        font-size: 1.75rem;
        padding-left: 1.25rem;
        flex-wrap: wrap;
    }
    .menu{
        padding-left: 1.25rem;
    }
    .komentare{
        padding-right:1.25rem ;
    }
    
     .recept1  {
         min-height: 400px ;
         width: 33.333%; 
     } 
     
     .recept23 {
         min-height: 400px;
         width: 33.333%;
         
     } 
     .recept45  {
        min-height: 400px;
        width: 33.333%;
        
     }
    }